<h1>Users Greeted</h1>

<table>
    <tr>
        <th>
            Id_Name & Description
        </th>
    </tr>
    {{#each usersGreeted}}
    <tr>
        <td>
            <a href="/perUser/{{id_name}}">{{id_name}}</a>
        </td>
    </tr>
    {{/each}}
</table>