<div class="container" style="background-color:beige">
    <div class="row">
        <div class="twelve columns">
            <h5 class="greetText"> <strong>G R E E T I N G </strong></h5>
        </div>
    </div>

    <div class="row">
        <form action="/greetings" method="POST">
            <div class="two columns">
                <p id="para"> <strong>Name :</strong></p>
            </div>

            <div class="four columns">
                <input type="text" name="greetTextArea" placeholder="Enter name to Greet :" class="">
            </div>

            <div class="three columns">
                <div id="displayCount"> <strong>Counter : {{counter}}</strong>
                    <span class=""> <span class="greetCount"></span> </span>
                </div>
            </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="twelve columns" style="text-align:center">
            <h4 id="langHead">Select Language</h4>
        </div>
    </div>
    <br>
    <div class="Languages">
        <div class="row">
            <div class="four columns">
                <label class="">
                    <input type="radio" name="languageSelector" class="languageRadio" value="English"></input>
                    <span class="label-body">English</span>
                </label>
            </div>

            <div class="four columns">
                <label class="">
                    <input type="radio" name="languageSelector" class="languageRadio" value="Afrikaans"></input>
                    <span class="label-body">Afrikaans</span>
                </label>
            </div>

            <div class="four columns">
                <label class="">
                    <input type="radio" name="languageSelector" class="languageRadio" value="IsiXhosa"></input>
                    <span class="label-body">IsiXhosa</span>
                </label>
            </div>
        </div>
    </div>
    <br>
    <div class="greetButtons">
        <div class="row">
            <div class="three columns">
                <button class="button-primary greetBtn" type="submit" name="button">Greet</button>
            </div>

        </div>
    </div>
    </form>
    <br>
    <div class="row">
        <div class="twelve columns displayField">
            <span class="">{{greeting}}</span>
        </div>
    </div>
    <br>
    <form action="/reset" method="POST">
        <div class="row">
            <div class="three columns">
                <button class="button-primary resetBtn" type="submit" name="resetButton">Reset</button>
            </div>
        </div>
    </form>
</div>
</div>