<div class="container" style="background-color:beige">
    <div class="row">
        <div class="twelve columns">
            <h5 class="greetText"> <strong>G R E E T I N G </strong></h5>
        </div>
    </div>

    <div class="row">
        <form action="/greetings" method="POST">
            <div class="two columns">
                <p id="para"> <strong>Name :</strong></p>
            </div>

            <div class="four columns">
                <input type="text" name="greetTextArea" placeholder="Enter name to Greet :" class="">
            </div>

            <div class="three columns">
                <div id="displayCount"><strong>Counter : {{count}}</strong>
                    <span class=""> <span class="greetCount"></span> </span>
                </div>
            </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="twelve columns" style="text-align:center">
            <h4 id="langHead">Select Language</h4>
        </div>
    </div>
    <br>
    <div class="Languages">
        <div class="row">
            <div class="four columns">
                <label class="">
                    <input type="radio" name="languageSelector" class="languageRadio" value="English"></input>
                    <span class="label-body">English</span>
                </label>
            </div>

            <div class="four columns">
                <label class="">
                    <input type="radio" name="languageSelector" class="languageRadio" value="Afrikaans"></input>
                    <span class="label-body">Afrikaans</span>
                </label>
            </div>

            <div class="four columns">
                <label class="">
                    <input type="radio" name="languageSelector" class="languageRadio" value="IsiXhosa"></input>
                    <span class="label-body">IsiXhosa</span>
                </label>
            </div>
        </div>
    </div>
    <br>

    <div class="row" style="padding-left:5px;">
        <div class="four columns">
            <div class="greetButtons">
                <button class="button-primary greetBtn" type="submit" name="button">Greet</button>
            </div>
        </div>
        </form>
        <form action="/reset" method="POST">
            <div class="four columns">
                <button class="button-primary resetBtn" type="submit" name="resetButton">Reset</button>
            </div>
        </form>
        <br>
        <div class="four columns" style="margin-top:-20px;">
            <form action="/greeted">
                <button type="submit" class="userButton">USERS GREETED</button>
            </form>
        </div>

    </div>
</div>
</div>
</div>
<div class="row">
    <div class="twelve columns displayField">
        <span class="">{{greeting}}</span>
        {{#if messages.info}} {{messages.info}} {{/if}}
    </div>
</div>
</div>


</div>