<div class="box">
{{#each howManyTimes}}
<h5>
    {{id_name}} has been greeted {{count}} time(s).
</h5>
{{/each}}
</div>
<div class="row">
    <div class="twelve columns">
        <form action="/home" method="post">
            <button class="button" type="submit">HOME</button>
        </form>
    </div>
</div>